
#hello{
	display: inline;
}

#btnadd{
	margin-top: 10px;
}
#playername{
	color: red;
	margin-top:30px;
	margin-bottom: -20px;
	margin-right: -250px;

}
#inningpitching{
	float:right;
	margin-right: 15px;
}
#pitcher{
	float:right;
	margin-right: 15px;
}
#positionsToAvoid{
	float:right;
	margin-right: 315px;
}
#preferredpositions{
	float:right;
	margin-right: 15px;
}
#row1,#row2,#row3,#row4,#row5,#row6{
	height:45px;
}
